.root {
  height: 100%;
  text-align: center;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;

  img {
    width: 100%;
  }
}

.blocks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.patentText {
  width: 100%;
  text-align: end;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #647191;
  @media screen and (max-width: 991px) {
    font-size: 15px;
    line-height: 30px;
  }
}
