.wrapper {
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  background: #000000;
}

.buttonBack {
  position: absolute;
  top: 40px;
  left: 40px;
}
